fastapi
uvicorn[standard]
SQLAlchemy>=2.0
psycopg2-binary
pydantic>=2.0
python-dotenv
redis
scikit-learn
pandas
joblib==1.3.2
reportlab==4.0.8
rq-scheduler==0.13.1
email-validator
rq
requests
asyncpg
greenlet
APScheduler==3.10.4
httpx
webauthn==2.0.0
feedparser
weasyprint
jinja2
pydyf
tinyhtml5
tinycss2
cssselect2
Pyphen
brotli
zopfli
fonttools
